@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Joel Hilton's superior film collection, containing only the finest films humanity has created.</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="A picture of the man himself"/>
</div>

