

@{
    ViewData["Title"] = "My Podcasts";
}

<div class="col">
    <div class="card shadow-lg" style="width:18rem">
        <a href="https://baconsale.com">
            <img class="card-img-top p-3" src="~/img/baconsale3.png.webp" alt="baconsale podcast"/>
        </a>
        <div class="card-body">
            <a class="btn btn-primary" href="https://baconsale.com/">Check out my podcast!</a>
        </div>
    </div>
</div>



